<!-- account-list.component.html -->
<!-- Your existing HTML -->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/adminHome">Back</a>
            </li>
                </ul>
      <!-- <input class="form-control me-2" type="searchInput" [(ngModel)]="searchTerm" aria-label="Search"> -->
      <!-- <button class="btn btn-outline-success" (click)="search()" type="submit">Search</button> -->
    </form>
  </div>
</nav>

<div class="card text-center">

<div class="card-header"><h2>customer List</h2></div>
<div class="card-body">

<div >

<div class="row">
  <!-- First column with the table -->
  <div class="col-md-8">
    <table class=" table align-middle mb-0 bg-white">
      <thead class="table-danger" >
        <tr class="table-danger">    
          <th>Customer Id</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
          <th>roleId</th>
          <!-- <th>Total balance</th> -->
          <th></th>
         
          <th>Action</th>
          <th ></th>
         
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let request of customers">
          <td >{{ request.customerId }}</td>
          <td>{{ request.firstName}}</td>
          <td>{{ request.lastName }}</td>
          <td>{{ request.email }}</td>
          <!-- <td>{{ request.users }}</td> -->
          <!-- <td>{{ request.fd + request.balance  }}</td> -->
          <td>{{ request.roleId }}</td>
          <td>
            <button class="btn btn-info" (click)="acceptAccount(request.customerId)">Accept</button>
          </td>
          <!-- <td>
            <button type="button" class="btn-close" aria-label="Close"></button>
              <i class="fas fa-times"></i>
            
          </td> -->
          <td>
            <button
                    type="button"
                    class="btn btn-link btn-rounded btn-sm fw-bold"
                    data-mdb-ripple-color="dark"
                    >
              Edit
            </button>
          </td>
         
        </tr>
      </tbody>
    </table>
  </div>
  
  
</div>
<br><br><br><br>
<div class="card-footer text-muted"><a  routerLink="/adminHome" class="btn-close"></a></div>
</div>
 